<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container my-5">
    <h1 class="text-center mb-4">User Lists</h1>

    <div class="row g-4">
        <a type="button" class="btn btn-primary"
           th:href="@{user/register}">Add User</a>
        <div th:each="user : ${users}" class="col-md-4">

            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title" th:text="${user.userId}">User ID</h5>
                    <h5 class="card-title" th:text="${user.firstName}">User Firstname</h5>
                    <h5 class="card-title" th:text="${user.email}">User Email</h5>
                    <h5 class="card-title" th:text="${user.password}">User Password</h5>
                    <h5 class="card-title" th:text="${user.role}">User Role</h5>
                    <h5 class="card-title" th:text="${user.age}">User Age</h5>
                    <h5 class="card-title" th:text="${user.address}">User Address</h5>
                    <h5 class="card-title" th:text="${user.phoneNumber}">User Phone Number</h5>

                </div>
                <div class="card-footer">
                    <h6><b>Requirements:</b></h6>
                    <ul class="mb-0">
                        <li th:each="transaction : ${user.transactions}" th:text="${transaction}"></li>
                        <li th:if="${#lists.isEmpty(user.transactions)}">No transactions available</li>
                    </ul>
                </div>

            </div>
            <a type="button" class="btn btn-primary"
               th:href="@{/user/update/{id}(id=${user.getUserId()})}">Update</a>
            <a type="button" class="btn btn-warning"
               th:href="@{/user/delete/{id}(id=${user.getUserId()})}">Delete</a>
        </div>
    </div>
</div>
<section>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"></script>
</section>
</body>
</html>